@import "../global.scss";

.my-portfolio-wrapper {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  .header-row {
    @include header-row;
  }
  .table-row {
    @include table-row;
  }
  .table-row,
  .header-row {
    div {
      width: 150px;
    }
  }
}
