@import "../global.scss";

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $base-color;

  .pc-left {
    display: grid;
    gap: 36px;
    grid-auto-flow: column;
    @media screen and (max-width: 1024px) {
      display: none;
    }

    .waterfalldefi {
      width: 84px;
      height: 42px;
      background: url("../../public/waterfalldefi.png");
      background-size: cover;
    }

    .menu-block-wrapper {
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      @media screen and (max-width: 1024px) {
        padding: 6px 0;
      }
      :hover {
        & > div {
          display: block;
        }
      }

      .link {
        color: $text-color;
        text-decoration: none;
        &[data-selected="true"] {
          color: $highlight-color;
        }
      }
      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
  .mobile-left {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  .right {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    padding-right: 41px;

    .wallet-wrapper {
      display: flex;
      align-items: center;
      .dropdown {
        background-color: $base-color;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &.open {
          height: 70px;
          transform: translateY(17.5px);
        }

        .network {
          padding: 0 16px 2px 0;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $text-color-lightest;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          white-space: normal;
          cursor: pointer;
          &.avax {
            color: rgb(232, 65, 66);
          }
          &.bnb {
            color: rgb(240, 185, 11);
          }
          &.option {
            border-radius: 8px;
          }

          .dropdown-triangle {
            font-size: 10px;
            margin: 0 5px 0 8px;
            padding-top: 3px;
          }
        }
      }
      .connect-wallet-btn {
        border-radius: 8px;
        height: 42px;
        border: 0;
        padding: 0 24px;
        font-weight: 400;
        font-size: 16px;
        color: $base-color;
        background-color: $highlight-color;
        z-index: 1;
      }
    }
    .dark-icon,
    .light-icon {
      margin-left: 15px;
      cursor: pointer;
    }
    .dark-icon {
      color: $base-color-dark;
    }
  }

  &.dark {
    background: $base-color-dark;

    .pc-left {
      .menu-block-wrapper {
        .link {
          color: $text-color-dark;

          &[data-selected="true"] {
            color: $highlight-color;
          }
        }
        a {
          color: $text-color-dark;
        }
      }
    }
    .right {
      .wallet-wrapper {
        .dropdown {
          background-color: $base-color-dark;
          .network {
            background: $text-color-lighter;
          }
        }
      }
      .light-icon {
        color: $base-color;
      }
    }
  }
}
