@import "../global.scss";

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $layer-color-dark;

  .modal {
    position: fixed;
    top: 69px;
    width: 420px;
    border-radius: 12px;
    left: calc(50vw - 210px);
    padding: 16px;
    background: $layer-color-dark;
    color: $text-color-dark;

    .modal-title {
      color: $text-color-dark;
      font-weight: 600;
      font-size: $font-size-md;
      margin-bottom: 14px;
    }
    section {
      display: flex;
      flex-direction: column;
      &.terms-of-service {
        height: 66vh;
        overflow-y: scroll;
      }
    }

    &.terms-of-service {
      width: 80%;
      left: 10%;
      background: $layer-color-dark;
      .button-centerer {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          margin-top: 42px;
          height: 42px;
          width: 169px;
          background-color: $highlight-color;
          color: $base-color;
          font-weight: 600;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }

    &.connect-wallet {
      section {
        .agreement {
          padding: 16px;
          background-color: $base-color-dark;
          color: $base-color;
          border-radius: 12px;
          font-weight: 600;
        }
        .connect {
          padding: 0 16px;
          height: 48px;
          border-radius: 12px;
          border: 1px solid $text-color-darker;
          background-color: $base-color-dark;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 16px;
          cursor: pointer;
          font-weight: 600;
          font-size: $font-size-md;
          color: $text-color-dark;
          &:hover {
            border-color: $highlight-color;
          }
        }
      }
    }

    &.transaction {
      top: 25%;
      align-items: center;
      justify-content: space-between;

      section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        h1 {
          font-size: $font-size-lg;
          color: 1px solid $text-color-dark;
          margin-bottom: 17px;
        }
        p {
          font-size: $font-size-md;
          color: 1px solid $text-color-darker;
          margin-bottom: 16px;
        }
        & > span {
          font-weight: 400;
          font-size: $font-size-sm;
          color: $text-color;
        }
        a {
          border-bottom: 1px solid $highlight-color;
          line-height: 1;
          margin-bottom: 20px;
        }
        button {
          width: 100%;
          height: 44px;
        }
      }
    }
  }

  .mask {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.125s opacity ease-out;
    pointer-events: none;

    &.visible {
      opacity: 0.5;
      background-color: #000000;
      pointer-events: all;
    }
  }

  .pc-left {
    display: grid;
    gap: 36px;
    grid-auto-flow: column;
    @media screen and (max-width: 1024px) {
      display: none;
    }

    .waterfalldefi {
      width: 84px;
      height: 42px;
      background: url("./waterfalldefi.png");
      background-size: cover;
    }

    .menu-block-wrapper {
      font-weight: 600;
      font-size: $font-size-md;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      @media screen and (max-width: 1024px) {
        padding: 6px 0;
      }
      :hover {
        & > div {
          display: block;
        }
      }

      .link {
        color: $text-color-dark;
        text-decoration: none;
        &[data-selected="true"] {
          color: $highlight-color;
        }
      }
      a {
        color: $text-color-dark;
        text-decoration: none;
      }
    }
  }
  .mobile-left {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  .right {
    display: flex;
    align-items: center;
    font-size: $font-size-md;
    font-weight: 600;
    padding-right: 41px;

    .wallet-wrapper {
      display: flex;
      align-items: center;
      .dropdown {
        background-color: $layer-color-dark;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &.open {
          height: 70px;
          transform: translateY(17.5px);
        }
        &.disabled {
          opacity: 0.5;
          cursor: auto;
        }

        .network {
          padding: 0 16px 2px 0;
          width: 76px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $text-color-lighter;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          white-space: normal;

          &.avax {
            color: rgb(232, 65, 66);
          }
          &.bnb {
            color: rgb(240, 185, 11);
          }
          &.option {
            border-radius: 8px;
            padding: 0 16px 2px 20px;
            width: 56px;
            cursor: pointer;
            &:hover {
              background: $text-color-darker;
            }
          }

          .dropdown-triangle {
            font-size: $font-size-sm;
            margin: 0 5px 0 8px;
            padding-top: 3px;
          }
        }
      }
      .connect-wallet-btn {
        border-radius: 8px;
        height: 42px;
        border: 0;
        padding: 0 24px;
        font-weight: 400;
        font-size: $font-size-md;
        color: $base-color;
        background-color: $highlight-color;
        cursor: pointer;

        div {
          margin-top: 8.5px;
        }
      }
    }
    .dark-icon,
    .light-icon {
      margin-left: 15px;
      cursor: pointer;
    }
    .dark-icon {
      color: $base-color-dark;
    }
  }

  // &.dark {
  //   background: $base-color-dark;

  //   .pc-left {
  //     .menu-block-wrapper {
  //       .link {
  //         color: $text-color-dark;

  //         &[data-selected="true"] {
  //           color: $highlight-color;
  //         }
  //       }
  //       a {
  //         color: $text-color-dark;
  //       }
  //     }
  //   }
  //   .right {
  //     .wallet-wrapper {
  //       .dropdown {
  //         background-color: $base-color-dark;
  //         .network {
  //           background: $text-color-lighter;
  //         }
  //       }
  //     }
  //     .light-icon {
  //       color: $base-color;
  //     }
  //   }
  // }
}
