@import "../global.scss";

$evenPadding: calc((100vw - 1048px) / 2);

.dashboard-wrapper {
  max-width: 1048px;
  padding: 180px $evenPadding 144px $evenPadding;
  margin: 0 auto;
  @media screen and (max-width: 876px) {
    padding-top: 100px;
  }

  .dash-banner {
    border-radius: 24px;
    padding: 32px 44px 102px;
    background: $layer-color;
    position: relative;
    color: $text-color;
    .banner-img-toggle {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        border: 2px solid $highlight-color;
      }
    }
    .dash-banner-img {
      position: absolute;
      height: 370px;
      width: 420px;
      right: 0;
      bottom: 56px;
      &.default {
        background-image: url("./svgs/DashboardImage.svg");
        background-size: contain;
      }
      &.alternate {
        background-image: url("./svgs/DashboardImageAlt.svg");
        background-size: cover;
      }

      @media screen and (max-width: 876px) {
        display: none;
      }
    }
    .linear-gradient {
      width: 95%;
      height: 280px;
      background: linear-gradient(
        90deg,
        rgba(252, 182, 4, 0.1) 14.14%,
        rgba(3, 161, 75, 0.1) 45.76%,
        rgba(12, 108, 254, 0.1) 84.73%
      );
      filter: blur(100px);
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: matrix(-1, 0, 0, 1, 0, 0) translate(50%, 100%);
    }
    h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: 45px;
      margin-bottom: 40px;
    }
    .content {
      display: grid;
      gap: 80px;
      grid-auto-flow: column;
      width: fit-content;
      @media screen and (max-width: 876px) {
        grid-auto-flow: row;
        gap: 40px;
      }

      .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-size: 16px;
          line-height: 20.8px;
          margin-bottom: 12px;
          color: $text-color-lighter;
        }
        .value {
          font-size: 24px;
          line-height: 31.2px;
          font-weight: 600;
        }
        .icon-group {
          display: flex;
          align-items: flex-end;
          svg {
            cursor: pointer;
          }
          & > svg,
          & > a {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .total-value-locked {
    height: 100px;
    border-radius: 24px;
    padding: 26px 0;
    background: $base-color;
    position: relative;
    transform: translateY(-56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .text {
      font-size: 14px;
      font-weight: 600;
      background: linear-gradient(90deg, #4ac9ff 0%, #167bff 98.68%);
      background-clip: text;
      color: transparent;
    }
    .value {
      height: 60px;
      padding: 0 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(44, 82, 144); //temp
      font-size: 32px;
      font-weight: 600;
      border-radius: 16px;
      border: solid 1px transparent;
      background-image: linear-gradient(132.89deg, #fff, #fff),
        linear-gradient(90deg, #4ac9ff 0%, #167bff 98.68%);
      background-origin: padding-box, border-box;
      background-clip: padding-box, border-box;
      box-shadow: 0px 4px 10px 0px #187eff33;
      white-space: nowrap;
      min-width: 300px;
      @media screen and (max-width: 414px) {
        font-size: 28px;
        transform: scale(0.8);
      }
    }
  }

  .info-wrapper {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    position: relative;
    @media screen and (max-width: 768px) {
      grid-auto-flow: row;
      gap: 80px;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
    }
    .announcements {
      border-radius: 24px;
      background: $base-color;
      filter: drop-shadow(0px 4px 20px rgba(0, 108, 253, 0.04));
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      div:last-child {
        height: 100%;
      }
      .title {
        height: 75px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $text-color-lighter;
        font-size: 24px;
        line-height: 31px;
        color: $text-color;
        font-weight: 500;
      }
    }
    .market-carousel {
      border-radius: 24px;
      background: $base-color;
      padding: 77px 40px 46px;
      display: flex;
      flex-direction: column;
      position: relative;
      filter: drop-shadow(0px 4px 20px rgba(0, 108, 253, 0.04));

      .icon-wrapper {
        width: 88px;
        height: 88px;
        padding: 10px;
        border-radius: 50%;
        border: solid 4px transparent;
        background-image: linear-gradient(132.89deg, #fff, #fff),
          linear-gradient(180deg, #5946f8 0%, #2494dc 44.79%, #00cccb 100%);
        background-origin: padding-box, border-box;
        background-clip: padding-box, border-box;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      .carousel-container {
        display: flex;
        flex-direction: column;
        width: 420px;
        padding-bottom: 12px;
        overflow: hidden;

        .carousel-slides {
          display: flex;
          overflow-x: scroll;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;

          &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
            background: $text-color-lightest;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background: $text-color-lighter;
            border-radius: 10px;
          }

          .slide {
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 100%;

            .title {
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 24px;
              color: $text-color;
              font-weight: 500;
              margin-bottom: 12;
            }

            .block {
              display: flex;
              justify-content: space-between;
              padding-left: 20px;
              margin-bottom: 20px;
              margin-right: 1px;
              font-size: 14px;
              background: $base-color;
              border-radius: 12px;
              border: solid 2px transparent;
              background-image: linear-gradient(132.89deg, #fff, #fff),
                linear-gradient(93.83deg, #e8f7ff 26.54%, #bffeff 70.96%);
              // `linear-gradient(132.89deg,${theme.dark.armyGreen} , ${theme.dark.armyGreen}), linear-gradient(93.83deg, rgba(232, 247, 255, 0.2) 26.54%, rgba(191, 254, 255, 0.2) 70.96%)`
              background-origin: padding-box, border-box;
              background-clip: padding-box, border-box;
              box-shadow: 0px 4px 8px 0px #00000005;
              overflow: hidden;
              div {
                display: flex;
                align-items: center;
              }
              h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 18px;
                &.Senior,
                &.Fixed {
                  color: rgba(252, 182, 4, 0.8);
                }
                &.Mezzanine {
                  color: rgba(3, 161, 75, 0.8);
                }
                &.Junior,
                &.Variable {
                  color: rgba(12, 108, 254, 0.8);
                }
              }
              .section {
                display: flex;
                flex-direction: column;
                width: 60%;
                height: 100%;
                color: $text-color;
                background: rgb(248, 253, 255);
                padding: 19px 29px;

                .apr-wrapper {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 8px;
                  line-height: 18.2px;
                }
                .line {
                  height: 1px;
                  width: 100%;
                  background: $highlight-color;
                  margin: 10px 0 14px;
                  opacity: 0.1;
                }
                .fee {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  line-height: 15.6px;
                  font-size: 12px;
                  u {
                    text-decoration: none;
                    border-bottom: 1px dashed $text-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.dark {
    background: $base-color-dark;
    .dash-banner {
      background-color: $layer-color-dark;
      color: $text-color-dark;

      .content {
        .block {
          .title {
            color: $text-color-darker;
          }
        }
      }
    }
    .total-value-locked {
      background: $layer-color-dark-2;
    }

    .info-wrapper {
      .announcements {
        background-color: $layer-color-dark;
      }
    }
  }
}
