@import "../global.scss";

.dashboard-wrapper {
  max-width: 1048px;
  padding: 180px 15px 144px;
  margin: 0 auto;
  @media screen and (max-width: 876px) {
    padding-top: 100px;
  }

  .dash-banner {
    border-radius: 24px;
    padding: 32px 44px 102px;
    background: $layer-color;
    position: relative;
    color: $darktext-color;
    .dash-banner-img {
      position: absolute;
      height: 370px;
      width: 420px;
      right: 0;
      bottom: 56px;
      background-image: url("../../public/DashboardImage.svg");
      background-size: contain;
      @media screen and (max-width: 876px) {
        display: none;
      }
    }
    .linear-gradient {
      width: 95%;
      height: 280px;
      background: linear-gradient(
        90deg,
        rgba(252, 182, 4, 0.1) 14.14%,
        rgba(3, 161, 75, 0.1) 45.76%,
        rgba(12, 108, 254, 0.1) 84.73%
      );
      filter: blur(100px);
      position: absolute;
      left: 50%;
      bottom: 100px;
      transform: matrix(-1, 0, 0, 1, 0, 0) translate(50%, 100%);
    }
    h1 {
      font-size: 36px;
      font-weight: 500;
      line-height: 45px;
      margin-bottom: 40px;
    }
    .content {
      display: grid;
      gap: 80px;
      grid-auto-flow: column;
      width: fit-content;
      @media screen and (max-width: 876px) {
        grid-auto-flow: row;
        gap: 40px;
      }

      .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-size: 16px;
          line-height: 20.8px;
          margin-bottom: 12px;
          color: $lighttext-color;
        }
        .value {
          font-size: 24px;
          line-height: 31.2px;
          font-weight: 600;
        }
      }
    }
  }

  .total-value-locked {
    height: 100px;
    border-radius: 24px;
    padding: 26px 0;
    background: $base-color;
    position: relative;
    transform: translateY(-56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .text {
      font-size: 14px;
      font-weight: 600;
      background: linear-gradient(90deg, #4ac9ff 0%, #167bff 98.68%);
      background-clip: text;
      color: transparent;
    }
    .value {
      height: 60px;
      padding: 0 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(44, 82, 144); //temp
      font-size: 32px;
      font-weight: 600;
      border-radius: 16px;
      border: solid 1px transparent;
      background-image: linear-gradient(132.89deg, #fff, #fff),
        linear-gradient(90deg, #4ac9ff 0%, #167bff 98.68%);
      background-origin: padding-box, border-box;
      background-clip: padding-box, border-box;
      box-shadow: 0px 4px 10px 0px #187eff33;
      white-space: nowrap;
      min-width: 300px;
      @media screen and (max-width: 414px) {
        font-size: 28px;
        transform: scale(0.8);
      }
    }
  }

  .info-wrapper {
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    position: relative;
    @media screen and (max-width: 768px) {
      grid-auto-flow: row;
      gap: 80px;
      grid-template-columns: auto;
      grid-template-rows: 1fr 1fr;
    }
    .announcements {
      border-radius: 24px;
      background: $base-color;
      filter: drop-shadow(0px 4px 20px rgba(0, 108, 253, 0.04));
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      div:last-child {
        height: 100%;
      }
      .title {
        height: 75px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $lighttext-color;
        font-size: 24px;
        line-height: 31px;
        color: $darktext-color;
        font-weight: 500;
      }
    }
  }
}
