@import "../global.scss";

.dashboard-wrapper {
  padding: 100px 24px 0 24px;
  margin: 0 auto;

  .dash-banner {
    border-radius: 24px;
    padding: 24px 24px 24px 42px;
    background: $layer-color;
    position: relative;
    color: $text-color;

    .content {
      display: grid;
      gap: 80px;
      grid-auto-flow: column;
      width: fit-content;
      @media screen and (max-width: 876px) {
        grid-auto-flow: row;
        gap: 40px;
      }

      .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-size: $font-size-md;
          line-height: 20.8px;
          margin-bottom: 12px;
          color: $text-color-lighter;
        }
        .value {
          font-size: $font-size-lg;
          line-height: 31.2px;
          font-weight: 600;
          &.busd,
          &.daie {
            color: #f0b90b;
          }
          &.avax {
            color: #e84142;
          }
        }
        .icon-group {
          display: flex;
          align-items: flex-end;
          svg {
            cursor: pointer;
          }
          & > svg,
          & > a {
            width: 32px;
            height: 32px;
          }
          .coingecko {
            margin-left: 24px;
            width: 32px;
            height: 32px;
            background: url("./pngs/coingecko.png");
            background-size: contain;
          }
        }
      }
    }
  }

  .sub-banner {
    height: 169px;
    border-radius: 24px;
    padding: 26px 0;
    background: $base-color;
    position: relative;
    transform: translateY(-56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .twitter {
      width: calc(100% - 48px);
    }
  }

  &.dark {
    background: $base-color-dark;
    .dash-banner {
      background-color: $layer-color-dark;
      color: $text-color-dark;

      .content {
        .block {
          .title {
            color: $text-color-darker;
          }
        }
      }
    }
    .sub-banner {
      background: $layer-color-dark-2;
    }

    .info-wrapper {
      .announcements {
        background-color: $layer-color-dark;
      }
    }
  }
}
