@import "../global.scss";

.markets-wrapper {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  .header-row {
    @include header-row;
  }
  .table-row {
    @include table-row;
  }
  .table-row,
  .header-row {
    div {
      width: 150px;
    }
  }

  .market-detail-wrapper {
    padding: 64px 24px;
    max-width: 1248px;
    margin: 0 auto;
    min-height: 100vh;
  }
}
