@import "../global.scss";

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 42px;
  }
}

.markets-wrapper {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  .header-row {
    @include header-row;
  }
  .row-wrapper {
    .table-row {
      @include table-row;
      &:hover {
        border: 2px solid $highlight-color;
      }
    }
  }

  .table-row,
  .header-row {
    div {
      width: 150px;
      text-align: right;
    }
  }

  .market-detail-wrapper {
    padding: 0 0 64px 24px;
    width: calc(100% - 48px);
    margin: 0 auto;
    min-height: 100vh;

    .information {
      display: flex;
      padding-top: 37px;

      .block-wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
        z-index: 1;
        margin-left: 24px;
        padding: 12px;
        border-radius: 5px;
        background-color: $base-color;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          width: 100%;
        }

        .info-block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 14px;

          &.pointer {
            cursor: pointer;
            justify-content: center;
            color: $text-color-dark;
          }

          .blocktext {
            color: $text-color;
          }
          .tvl {
            font-size: 16px;
            color: $highlight-color;
          }

          .portfolio-name {
            margin-top: 4px;
            font-size: 30px;
            color: $text-color;
          }

          .assets {
            display: flex;
            font-size: 20px;
            color: $text-color;
            padding: 3px;
            margin-top: 4px;
            border-radius: 5px;
            transform: translateY(-3px);

            &.multicurrency {
              .asset {
                cursor: pointer;
                &:hover {
                  background-color: $text-color-lighter;
                }
              }
            }

            .asset {
              display: flex;
              margin-right: 12px;
              padding: 8px;
              border-radius: 5px;

              &.selected {
                background-color: $text-color-lightest;
              }

              .coin {
                height: 25px;
                width: 25px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }

    .charts {
      display: flex;
      padding: 24px 24px 20px;
      gap: 20px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .claim-redeposit {
        display: grid;
        gap: 20px;
        grid-auto-flow: row;
        position: relative;

        &.flex-grow {
          flex-grow: 1;
        }

        .section {
          background: $base-color;
          padding: 12px 32px;
          min-height: 140px;
          border-radius: 5px;
          border-left: 5px solid $highlight-color;
          color: $text-color;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 20px;

          .label {
            color: $text-color;
          }
          .rtn-amt {
            color: $highlight-color;
          }

          .buttons {
            display: flex;
            justify-content: space-between;

            button {
              border-radius: 5px;
              height: 28px;
              font-size: 14px;
              border: 1px solid $text-color-lightest;
              color: $highlight-color;
              cursor: pointer;

              & > svg {
                margin-left: 5px;
              }

              &:disabled {
                color: $text-color-lightest;
                cursor: auto;
              }
            }
          }

          .autoroll-controls {
            .autoroll-balance {
              margin-top: 10px;
            }
            .control-wrapper {
              display: flex;
              margin-top: 10px;
              .control {
                padding: 1.5px;
                background-color: "#FFFFFF";
                border-radius: 5px;
                width: 100%;

                .autoroll-btn {
                  width: 100%;
                  border-radius: 5px;
                  height: 28px;
                  font-size: 14px;
                  border: 1px solid $text-color-lightest;
                  margin-right: 24px;

                  color: $base-color;
                  cursor: pointer;
                  &.start {
                    background-color: $highlight-color;
                  }
                  &.stop {
                    background-color: $text-color-lighter;
                  }
                  &:disabled {
                    background-color: $text-color-lightest;
                    cursor: auto;
                  }
                }
              }
            }
            .autoroll-lbl {
              font-size: 14px;
              font-weight: 600;
              &.on {
                color: $highlight-color;
              }
              &.off {
                color: $text-color-lighter;
              }
            }
          }
        }
      }
      .chart-block {
        display: flex;
        color: $text-color;
        border-radius: 5px;
        flex-grow: 1;

        .background {
          position: relative;
          top: 0;
          left: 0;
          height: 100%;
          background: $base-color;

          &.left-br {
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
          }
          &.right-br {
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
          }
          &.dbl-chart {
            width: 100%;
          }

          .portfolio-chart {
            margin-top: 10px;
            height: auto;
          }

          .strategy-chart {
            height: 375px;
            .hoverPrice {
              position: absolute;
              top: 69px;
              left: 12px;
              font-size: 30px;
            }
          }

          .legend {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &.tranche-structure {
              padding-top: 165px;
            }

            .selected {
              background: $text-color-lightest;
            }

            .chart-toggle {
              position: absolute;
              top: 12px;
              right: 12px;
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
            }

            .farm-key {
              display: flex;
              flex-direction: column;
              align-items: end;
              margin-right: 20px;
              padding: 5px;
              border-radius: 5px;
              margin-bottom: 12px;

              &.strategy-select {
                cursor: pointer;
                &:hover {
                  background: $text-color-lightest;
                  opacity: 0.5;
                }
              }

              .key-color {
                width: 40px;
                height: 40px;
                border-radius: 5px;
              }
              span {
                white-space: nowrap;
              }
            }
          }
        }

        &.tranche-structure {
          justify-content: flex-end;
          flex-grow: 0;

          .background {
            flex-grow: 1;
            .tranche-chart {
              display: flex;
              flex-direction: column;
              gap: 6px;
              margin: 120px 80px 30px 90px;
              align-items: flex-end;
              .tranche-stack {
                width: 180px;
                animation: grow 0.25s ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $base-color;
                font-size: 16px;
                border: 2px solid $layer-color-dark;
                &.hovered {
                  border: 2px solid $base-color;
                }
              }
            }
          }
        }
      }
    }
    .deposit {
      padding: 0 20px;

      .next-cycle-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .next-cycle {
          font-size: 14px;
          color: $highlight-color;
        }
        .active-cycle {
          font-size: 14px;
          color: $text-color;
          margin-top: 13px;
        }
      }

      .top-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        .step-bar {
          display: grid;
          gap: 10px;
          grid-auto-flow: column;
          width: fit-content;
          align-items: center;
          @media screen and (max-width: 1024px) {
            width: 100%;
            padding: 0;
            grid-template-columns: auto auto 1fr auto auto;
          }
          .step {
            width: 32px;
            height: 32px;
            border: 1px solid $highlight-color;
            color: $highlight-color;
            border-radius: 50%;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $base-color;
            z-index: 1;
          }
          .step-name {
            font-size: 14px;
            color: $text-color;
          }
          .line {
            height: 1px;
            width: 173px;
            background: $text-color-lighter;
            @media screen and (max-width: 1024px) {
              width: auto;
            }
          }
        }
        .select-deposit-assets {
          display: flex;
          flex-direction: column;

          .select-deposit-asset {
            display: flex;
            height: 35px;
            .coin {
              height: 25px;
              width: 25px;
              background-size: cover;
              background-repeat: no-repeat;
              margin-right: 8px;
            }
            .step-name {
              font-size: 14px;
              color: $text-color;
              .rem-value {
                font-weight: 800;
                margin-right: 10;
              }
            }
            .remaining-depositable-outer {
              width: 160px;
              height: 6px;
              background-color: $text-color-lightest;
              border-radius: 4px;
              margin: 9px 20px 0 6px;
              .remaining-depositable-inner {
                height: 6px;
                background-color: $highlight-color;
                border-radius: 4px;
              }
            }
          }
        }
      }
      .deposit-item {
        display: grid;
        grid-template-columns: 45% calc(55% - 24px);
        grid-column-gap: 24px;
        @media screen and (max-width: 675px) {
          grid-template-columns: "none";
          grid-row-gap: 20px;
        }
        .tranches {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-row-gap: 20px;
          &.two-tranches {
            grid-template-rows: 1fr 1fr;
          }

          .tranche {
            padding: 20px;
            min-height: 270px;
            position: relative;
            cursor: pointer;
            border: $highlight-color-dark 2px solid;
            box-sizing: border-box;
            border-radius: 8px;
            background: $base-color;
            &.selected {
              border-color: $highlight-color;
              background: $layer-color;
            }
            &.disabled {
              opacity: 0.5;
              cursor: default;
            }
            @media screen and (max-width: 768px) {
              & {
                height: auto;
              }
            }

            .sold-out {
              font-size: 14px;
              width: 75px;
              height: 30px;
              border: rgb(224, 78, 41) 1px solid;
              color: rgb(224, 78, 41);
              box-sizing: border-box;
              border-radius: 4px;
              transform: rotate(-30deg);
              position: absolute;
              left: -20px;
              top: -9px;
              text-align: center;
              line-height: 30px;
              background-color: $base-color;
              z-index: 11;
            }

            .tranche-name {
              font-size: 14px;
              line-height: 18px;
              color: $text-color;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .flex-row {
                display: flex;
                align-items: center;
                .dot {
                  width: 8px;
                  height: 8px;
                  border-radius: 100%;
                  margin-right: 5px;
                  &.senior,
                  &.fixed {
                    background-color: rgba(252, 182, 4, 0.8);
                  }
                  &.mezzanine {
                    background-color: rgba(3, 161, 75, 0.8);
                  }
                  &.junior,
                  &.variable {
                    background-color: rgba(12, 108, 254, 0.8);
                  }
                }
              }
            }
            .apr {
              font-size: 16px;
              line-height: 22px;
              margin: 10px 0;
              &.senior,
              &.fixed {
                color: rgba(252, 182, 4, 0.8);
              }
              &.mezzanine {
                color: rgba(3, 161, 75, 0.8);
              }
              &.junior,
              &.variable {
                color: rgba(12, 108, 254, 0.8);
              }
            }
            .risk-text {
              font-size: 12px;
              line-height: 125%;
              letter-spacing: -0.015em;
              color: $text-color;
            }
            .status {
              display: flex;
              justify-content: space-between;
              .remaining {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.015em;
                color: $text-color;
              }
            }
            .progress-bar {
              margin: 10px 0;
              border-radius: 2px;
              width: 100%;
              height: 6px;
              position: relative;
              background-color: $text-color-lightest;

              div {
                content: "";
                height: 6px;
                position: absolute;
                &.senior,
                &.fixed {
                  background-color: rgba(252, 182, 4, 0.8);
                }
                &.mezzanine {
                  background-color: rgba(3, 161, 75, 0.8);
                }
                &.junior,
                &.variable {
                  background-color: rgba(12, 108, 254, 0.8);
                }
              }
            }
            .separator {
              background: $highlight-color-dark;
              height: 1px;
              margin: 40px 0px;
            }
          }
        }
        .approve-card {
          padding: 25px;
          background: $base-color;
          border-radius: 5px;
          border: $highlight-color-dark 2px solid;
          z-index: 1;

          .row {
            font-size: 20px;
            line-height: 27px;
            color: $text-color;
            display: flex;
            margin-bottom: 35px;
            justify-content: space-between;
            & > div:nth-of-type(2) {
              font-size: 24px;
              line-height: 33px;
              text-align: end;
            }
          }
          .separator {
            background: $highlight-color-dark;
            height: 1px;
            margin: 40px 0px;
          }
          .input-wrapper {
            width: 100%;
            display: flex;
            input {
              width: 100%;
              height: 50px;
              text-align: right;
              font-size: 20px;
              border-radius: 5px;
            }
            .max-input {
              display: flex;
              align-items: center;
              justify-content: center;
              color: $base-color;
              background: $highlight-color;
              border-radius: 5px;
              font-size: 16px;
              padding: 0 12px;
              margin-right: 8px;
              cursor: pointer;
            }
          }
          .validate-text {
            width: calc(100% - 4px);
            text-align: right;
            font-size: 12px;
            line-height: 125%;
            letter-spacing: -0.015em;
            color: red; //temp
            margin-top: 4px;
            min-height: 15px;
          }
          .important-notes {
            margin-top: 20px;
            border-radius: 8px;
            background-color: $layer-color;
            padding: 20px;
            display: flex;
            min-height: 69px;

            & > div:nth-of-type(1) {
              color: $highlight-color;
              padding-top: 2px;
              margin-right: 10px;
            }
            & > div:nth-of-type(2) > div:nth-of-type(1) {
              color: $highlight-color;
              margin-bottom: 10px;
            }
            & > div:nth-of-type(2) > div:nth-of-type(2) {
              color: $text-color;
            }
            &.placeholder {
              background-color: $base-color;
            }
          }
          .button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            & button {
              width: 100%;
              background: linear-gradient(360deg, rgb(21, 121, 255) 0%, rgb(21, 123, 255) 100%);
              color: rgb(255, 255, 255);
              border-radius: 8px;
              border: 0px;
              padding: 0px 24px;
              font-weight: 400;
              font-size: 16px;
              height: 56px;
              cursor: pointer;
            }
            @media screen and (min-width: 1024px) {
              & button {
                max-width: 300px;
              }
            }
          }
          .redemption-fee {
            min-height: 22px;
            color: $text-color-lightest;
            margin-top: 10px;
            text-align: center;
            & > span {
              color: $highlight-color;
            }
          }
        }
      }
    }
  }

  &.dark {
    @include dark-table;

    .row-wrapper {
      .table-row {
        &:hover {
          border: 2px solid $highlight-color-dark;
        }
      }
    }

    .market-detail-wrapper {
      .information {
        .block-wrapper {
          background-color: $layer-color-dark;
          .info-block {
            .blocktext {
              color: $text-color-dark;
            }
            .tvl {
              color: $highlight-color;
            }
            .portfolio-name {
              color: $text-color-dark;
            }
            .assets {
              color: $text-color-dark;

              &.multicurrency {
                .asset {
                  cursor: pointer;
                  &:hover {
                    background-color: $text-color-lighter;
                  }
                }
              }

              .asset {
                &.selected {
                  background-color: $text-color-lightest;
                }
              }
            }
          }
        }
      }

      .charts {
        .claim-redeposit {
          .section {
            background: $layer-color-dark;
            border-left: 5px solid $highlight-color;
            color: $text-color-dark;

            .label {
              color: $text-color-dark;
              font-size: 18px;
              width: 200px;
            }
            .rtn-amt {
              color: $highlight-color;
            }

            .buttons {
              display: flex;
              flex-direction: column;
              gap: 16px;
              .claim-redep-btn {
                width: 100%;
                border: 1px solid $text-color-lightest;
                color: $highlight-color;
                background-color: $base-color;
                font-weight: 600;

                &:disabled {
                  color: $text-color-lighter;
                }
              }
            }

            .autoroll-controls {
              .control-wrapper {
                .control {
                  background-color: "#FFFFFF";
                  .autoroll-btn {
                    border: 1px solid $text-color-lightest;
                    color: $base-color-dark;
                    font-weight: 600;
                    &.start {
                      background-color: $highlight-color;
                    }
                    &.stop {
                      background-color: $text-color-lighter;
                    }
                    &:disabled {
                      background-color: $text-color-lightest;
                    }
                  }
                }
              }
              .autoroll-lbl {
                &.on {
                  color: $highlight-color;
                }
                &.off {
                  color: $text-color-lighter;
                }
              }
            }
          }
        }
        .chart-block {
          color: $text-color-dark;
          .background {
            background: $layer-color-dark;

            h2 {
              margin-left: 12px;
            }
          }
          .selected {
            background: $text-color-lightest;
          }

          .farm-key {
            &.strategy-select {
              cursor: pointer;
              &:hover {
                background: $text-color-lightest;
                opacity: 0.5;
              }
            }
          }
        }
      }

      &.tranche-structure {
        .background {
          color: $layer-color-dark;
        }
      }
    }
    .deposit {
      .next-cycle-wrapper {
        .next-cycle {
          color: $highlight-color;
        }
        .active-cycle {
          color: $text-color-dark;
        }
      }
      .top-bar {
        .step-bar {
          .step {
            border: 1px solid $highlight-color;
            color: $highlight-color;
            background: $layer-color-dark;
          }
          .step-name {
            color: $text-color-dark;
          }
          .line {
            background: $text-color-lighter;
          }
        }
        .select-deposit-assets {
          .select-deposit-asset {
            .step-name {
              color: $text-color-dark;
            }
            .remaining-depositable-outer {
              background-color: $text-color-lightest;
              .remaining-depositable-inner {
                background-color: $highlight-color;
              }
            }
          }
        }
      }
      .deposit-item {
        .tranches {
          .tranche {
            border: $highlight-color-dark 2px solid;
            background: $layer-color-dark;
            &.selected {
              border-color: $highlight-color;
              background: $layer-color-dark;
            }

            .sold-out {
              background-color: $layer-color-dark;
            }

            .tranche-name {
              color: $text-color-dark;
            }
            .risk-text {
              color: $text-color-dark;
            }
            .status {
              .remaining {
                color: $text-color-dark;
              }
            }
            .progress-bar {
              background-color: $text-color-lightest;
            }
            .separator {
              background: $highlight-color-dark;
            }
          }
        }
        .approve-card {
          background: $layer-color-dark;
          border: $highlight-color-dark 2px solid;

          .row {
            color: $text-color-dark;
          }
          .separator {
            background: $highlight-color-dark;
          }
          .input-wrapper {
            .max-input {
              color: $base-color-dark;
              background: $highlight-color;
            }
          }
          .validate-text {
            color: red; //temp
          }
          .important-notes {
            background-color: $layer-color;

            & > div:nth-of-type(1) {
              color: $highlight-color;
            }
            & > div:nth-of-type(2) > div:nth-of-type(1) {
              color: $highlight-color;
            }
            & > div:nth-of-type(2) > div:nth-of-type(2) {
              color: $text-color-dark;
            }
            &.placeholder {
              background-color: $base-color-dark;
            }
          }
          .redemption-fee {
            color: $text-color-lightest;
            & > span {
              color: $highlight-color;
            }
          }
        }
      }
    }
  }
}
